<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="Url" value="politiaromana.ro/ro/info-trafic" />-->
    <add key="Url" value="politiaromana.ro/ro/info-trafic/situatia-accidentelor-rutiere-grave-inregistrate-in-ultimele-24-de-ore-la-nivel-national" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>